* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(img3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.conteiner{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border: 1px solid #ffffff41;
    border-radius: 15px;
    background-color:transparent;
    width: 350px;
    height: 450px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(2px);
}

.conteiner h1{
    text-align: center;
    margin-bottom: 70px;
}

.inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    
}

.inputbox input{
    color: white;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    border: 1px solid #ffffff41;
    background: transparent;
    outline: none;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.inputbox input::placeholder{
    color: white;
}

.checkbox{
    justify-content: space-between;
    display: flex;
    margin-bottom: 50px;
}

.checkbox a{
    color: white;
    text-decoration: none;
}

button{
    color: white;
    width: 70%;
    height: 25px;
    margin-left: 50px;
    border-radius: 10PX;
    background: transparent;
    border: 1px solid #ffffff41;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    margin-bottom: 70px;
    
}
.Cadastrar{
    text-align: center;
    
}

.Cadastrar a{
    text-decoration: none;
    color: white;
}

.button :hover{
    background-color: #ffffff41;
    color: black;
    transition: 0.5s;
}

.inputbox :hover{
    background-color: #ffffff41;
    transition: 0.5s;
}

input:hover::placeholder{
    color: black;
}
